#  XUPV5-LX110T Evaluation Platform
Net fpga_0_RS232_Uart_1_RX_pin LOC = AG15  |  IOSTANDARD=LVCMOS33;
Net fpga_0_RS232_Uart_1_TX_pin LOC = AG20  |  IOSTANDARD=LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<0> LOC = AE24  |  IOSTANDARD=LVCMOS18  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<1> LOC = AD24  |  IOSTANDARD=LVCMOS18  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<2> LOC = AD25  |  IOSTANDARD=LVCMOS18  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<3> LOC = G16  |  IOSTANDARD=LVCMOS25  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<4> LOC = AD26  |  IOSTANDARD=LVCMOS18  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<5> LOC = G15  |  IOSTANDARD=LVCMOS25  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<6> LOC = L18  |  IOSTANDARD=LVCMOS25  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_LEDs_8Bit_GPIO_IO_pin<7> LOC = H18  |  IOSTANDARD=LVCMOS25  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_Push_Buttons_5Bit_GPIO_IO_pin<0> LOC = AJ6  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_Push_Buttons_5Bit_GPIO_IO_pin<1> LOC = AJ7  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_Push_Buttons_5Bit_GPIO_IO_pin<2> LOC = V8  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_Push_Buttons_5Bit_GPIO_IO_pin<3> LOC = AK7  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net fpga_0_Push_Buttons_5Bit_GPIO_IO_pin<4> LOC = U8  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;

Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC = AH15  |  IOSTANDARD=LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC = E9  |  IOSTANDARD=LVCMOS33  |  PULLUP;

Net bounce_graphics_0_DVI_DataxDO_pin<0>		LOC=AB8 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<1>		LOC=AC8 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<2>		LOC=AN12 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<3>		LOC=AP12 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<4>		LOC=AA9 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<5>		LOC=AA8 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<6>		LOC=AM13 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<7>		LOC=AN13 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<8>		LOC=AA10 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<9>		LOC=AB10 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<10>	LOC=AP14 | IOSTANDARD = LVCMOS33; 	
Net bounce_graphics_0_DVI_DataxDO_pin<11>	LOC=AN14 | IOSTANDARD = LVCMOS33; 	

Net bounce_graphics_0_DVI_XCLKxCO_pin		   LOC=AL11 | IOSTANDARD = LVCMOS33;					 
Net bounce_graphics_0_DVI_XCLKxCBO_pin		LOC=AL10 | IOSTANDARD = LVCMOS33;				
Net bounce_graphics_0_DVI_HSyncxSO_pin		LOC=AM12 | IOSTANDARD = LVCMOS33;	
Net bounce_graphics_0_DVI_VSyncxSO_pin		LOC=AM11 | IOSTANDARD = LVCMOS33;			
Net bounce_graphics_0_DVI_DExSO_pin			LOC=AE8 | IOSTANDARD = LVCMOS33;			
Net bounce_graphics_0_DVI_ResetxRBO_pin	   LOC=AK6 | IOSTANDARD = LVCMOS33;	

Net dvi_iic_init_0_iic_scl_pin LOC=U27;
Net dvi_iic_init_0_iic_scl_pin SLEW = FAST;
Net dvi_iic_init_0_iic_scl_pin DRIVE = 24;
Net dvi_iic_init_0_iic_scl_pin TIG;
Net dvi_iic_init_0_iic_scl_pin IOSTANDARD=LVCMOS18;
Net dvi_iic_init_0_iic_scl_pin PULLUP;
Net dvi_iic_init_0_iic_sda_pin LOC=T29;
Net dvi_iic_init_0_iic_sda_pin SLEW = FAST;
Net dvi_iic_init_0_iic_sda_pin DRIVE = 24;
Net dvi_iic_init_0_iic_sda_pin TIG;
Net dvi_iic_init_0_iic_sda_pin IOSTANDARD=LVCMOS18;
Net dvi_iic_init_0_iic_sda_pin PULLUP;

Net  keyboard_0_key_clk_pin         LOC="T26"; 	# Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors
Net  keyboard_0_key_clk_pin    		IOSTANDARD=LVCMOS18;
Net  keyboard_0_key_data_pin        LOC="T25"; # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors
Net  keyboard_0_key_data_pin 		  	IOSTANDARD=LVCMOS18;

Net  buzzer_0_buzz_transistor_pin        LOC="G30";   # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors  
Net  buzzer_0_buzz_transistor_pin  	IOSTANDARD=LVCMOS18;

#Net  PIEZO_SPEAKER        LOC="G30";   # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors